<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/about.css">
</head>

<body class="d-flex text-center text-white ">

  <%- include('partials/navbar.ejs') %>

  <h1>About</h1>

  <div class="card-group col-12  mb-3 border-5">
    <div class="card ">
      <div class="card-body ">
        <h5>Why I Have Created This Website?</h5>
        <p class="card-text text-dark">
          This website was designed and coded by me (Waleed Ahmed) as part of my Third Year Computer Science(BSc) project.
          I wanted to create a quiz based website to to help primary school pupils to help them with their Maths skills.
          This website will help them test their knowledge.
        </p>
      </div>
    </div>

    <div class="card ">
      <div class="card-body">
        <h5>My Journey</h5>
        <p class="card-text text-dark">
          Studying Computer Science has made me realise how important this field is to the world.
          I am fascinated by how even everyday objects such as cameras and phones have developed over the years.
          My passion for technology started at college. Having not studied Computer Science at GCSE,
          I had no idea what this subject involved, but I was soon enthralled by all the interesting information
          I received when I explored this enriching subject. This made me keen to learn more about it.
        </p>
      </div>
    </div>

    <div class="card ">
      <div class="card-body">
        <h5>Future Plans</h5>
        <p class="card-text text-dark">
          My plans for this project is to continuously improve it. I would love to have feedback from users of
          this website. If you have any issues or improvements you would like to suggest, don't hesitate to get
          in touch with me.
        </p>
      </div>
    </div>

  </div>

  <%- include('partials/footer.ejs') %>