<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Topics</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/topics.css">
</head>

<body class="d-flex text-center text-white ">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-left mb-0">MathsQuiz</h3>
        <nav class="nav nav-masthead justify-content-center float-md-right">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link active" href="/topics">Topics</a>
          <a class="nav-link" href="/about">About</a>
        </nav>
      </div>
    </header>

    <h1>Topics</h1>
    <div class="card col-6 offset-3 mb-3 col-lg-4 col-xl-6 border-5">
      <% for(let t of topics) {%>

      <div class="card-header text-dark"><%= t.id %>. <%= t.name %>

      </div>
      <div class="card-body md-4">
        <a href="/<%= t.name %>" class="btn btn-primary"> Try It </a>
      </div>
      <% } %>
    </div>

    <%- include('partials/footer.ejs') %>