<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <title>Addition</title>
</head>

<body>
  <h1>Addition</h1>
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">

      <% for(i=0; i<additionQuestions.length; i++) {%>
      <div class="card-header">
        <li class="list-group-item"><%= additionQuestions[i].id %>. <%= additionQuestions[i].question %> </li>
      </div>
  </div>
  <br>

  <% for(j=0; j<additionAnswers.length; j++) {%>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
      <%= additionAnswers[j].id %>. <%= additionAnswers[i].answers[j,j].answer %>
    </label>
  </div>
  <% } %>
  <br>
  <% } %>
  <br>
  </ul>
  <a href="/topics">Back To All Topics</a>
  </div>
</body>

</html>